%header.quote
  %h1
    Appmark.it
  %span.subtitle
    You develop the apps, we help market and track them.
    %a.arrowed.link-out{:href => "http://appmark.it"} visit site

%section.project-description
  %p
    There are many iOS developers who aren't web developers, but wish they could create a
    web presence to market their app. Appmark.it provides a free service to solve this problem.
  %p
    Create a site for your app in just seconds using the description and screenshots on the
    iTunes store. Choose a sexy theme to display your content within, track analytics on who's
    downloading your app, and use your own custom domain.
  %p
    We designed and built the Ruby on Rails app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/appmarkit/large.jpg"}
    %li
      %img{:src => "/projects/appmarkit/large2.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio