%nav
  %a.home{href: "/"} home

.container
  %img#cover{src: "/images/becoming-cover.png"}
  
  #copy
    %h1 Becoming a Designer + Developer on the Web
  
    %p You’re attracted by the web’s ability to quickly turn an idea into reality, but you’ve realized that building a successful site/app/widget/doohickey requires a broad range of skills.
    %p You want to learn more about how to design & develop useful applications, but it's difficult to parse through the vast amount of information you find online.
  
    %h2 This book will teach you the fundamentals of how to build on the web, while also showing you where to look for more.
  
    #actions
      %a#subscribe{href: "http://eepurl.com/uOwBL"} Get notified when the book is finished!
      %span or
      %a#preview{href: "/Becoming-a-Designer-and-Developer-on-the-Web-Sneak-Peek.pdf"} download a sample chapter
  
    #table-of-contents
      %h1
        %span Table
        %em of
        %span Contents
    
      %h3 Introduction
    
      %h3 Section I: Design
      %ol
        %li Intro to Design
        %li Typography
        %li Colors
        %li Branding
        %li Sketching/User Interaction
        %li Prototyping
        %li Staying Up to Date
      
      %h3 Section II: Development
      %ol
        %li Intro to Development
        %li Environment
        %li HTML/CSS/JS
        %li Backend Frameworks
        %li Storing Code
        %li Testing
        %li Demoing/Deploying
        %li Staying Up to Date