%header.quote
  %h1
    We love to meet new folks, so
    %span.highlighted.tooltipped{:title => "'get in touch' is a weird expression..."} get in touch!

%section.contact
  %p
    We can't promise we'll have availability, but if you need help with designing and/or building
    a web or iOS application, please don't hesitate to contact us.
  %p
    Cheers!
    %br
    = "- David &amp; Marshall"
  %p.break
    %a{:href => "mailto:hello@twoguys.us"} hello@twoguys.us
    42.42.42.GUYS
  %p
    Reston, VA &amp; Tampa, FL