%header.quote
  %h1
    Crashbucket
  %span.subtitle
    Providing iPhone developers with instant crash reports from their apps

%section.project-description
  %p
    After building a number of iPhone apps we realized we had no way of knowing if users were seeing
    crashes of any sort. There were numerous services available at the time for Ruby on Rails apps,
    but none for iOS, so we decided to build one.
  %p
    Not long after Crashbucket was launched,
    %a{:href => "http://thoughtbot.com"} Thoughtbot
    contacted us about a possible collaboration. Since we love Thoughtbot and their products we
    were happy to partner with them and integrate Crashbucket into their
    %a{:href => "http://hoptoadapp.com/pages/ios-notifier"} Hoptoad iOS Notifier.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/crashbucket/large.jpg"}
    %li
      %img{:src => "/projects/crashbucket/large2.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio