.quote
  %h1 Without design, life would be boring.
  .subheader Here are some previews of work I've done in the past.

.project-summary
  %h2
    %a{:href => "http://remote-jobs.com"} Remote Jobs
  .subheader Web design
  %p.description
    Remote Jobs is a job board aimed specifically at remote workers and employees in search of them. We created it to help find work for the community of remote freelancers out there, including ourselves.
  %ul.photos.clearfix
    %li
      %a{:href => "http://remote-jobs.com"}
        %img{:src => "/projects/remotejobs/list.jpg"}
      .subheader Homepage/job listings
    %li
      %a{:href => "http://remote-jobs.com"}
        %img{:src => "/projects/remotejobs/show.jpg"}
      .subheader Job information
    
.project-summary
  %h2
    %a{:href => "https://secure.maxrvu.com"} MaxRVU
  .subheader Web design, iPhone design
  %p.description
    MaxRVU is a web & iPhone app combo that helps physicians capture patient and billing data. We designed and developed a solution that allowed our client to go live within just a few months.
  %ul.photos.clearfix
    %li
      %a{:href => "http://gingercube.com"}
        %img{:src => "/projects/maxrvu/teaser.jpg"}
      .subheader Company teaser page
    %li
      %a{:href => "http://secure.maxrvu.com"}
        %img{:src => "/projects/maxrvu/maxrvu.jpg"}
      .subheader Product site
  
.project-summary
  %h2
    %a{:href => "http://crashbucket.com"} Crashbucket
  .subheader Web design
  %p.description
    Crashbucket was a service to allow iPhone developers to catch and report crashes in their app software. It is now the
    %a{:href => "http://hoptoadapp.com/pages/ios-notifier"} Hoptoad iOS Notifier.
  %ul.photos.clearfix
    %li
      %a{:href => "http://crashbucket.com"}
        %img{:src => "/projects/crashbucket/logo.jpg"}
      .subheader Crashbucket logo
    %li
      %a{:href => "http://crashbucket.com"}
        %img{:src => "/projects/crashbucket/site.jpg"}
      .subheader Product site
      
.project-summary
  %h2
    %a{:href => "http://publishur.com"} Publishur
  .subheader Web design
  %p.description
    Publishur is an internal project we worked on that allows groups of people to easily communicate using whatever medium they like most (email, SMS, chat, etc).
  %ul.photos.clearfix
    %li
      %a{:href => "http://publishur.com"}
        %img{:src => "/projects/publishur/site.jpg"}
      .subheader Home page
    %li
      %a{:href => "http://publishur.com"}
        %img{:src => "/projects/publishur/tour.jpg"}
      .subheader Tour page

.project-summary
  %h2
    %a{:href => "http://wecreateideas.net"} We Create Ideas
  .subheader Web design
  %p.description
    This design was done for a client who was starting a small software development company and needed an informational site.
  %ul.photos.clearfix
    %li
      %a{:href => "http://wecreateideas.net"}
        %img{:src => "/projects/wecreateideas/homepage.jpg"}
      .subheader Home page
    %li
      %a{:href => "http://wecreateideas.net"}
        %img{:src => "/projects/wecreateideas/contact.jpg"}
      .subheader Contact page

.project-summary
  %h2
    %a{:href => "http://schoolyardstewards.org/"} Schoolyard Stewards
  .subheader Web design
  %p.description
    Schoolyard Stewards is a D.C.-area program that teaches kids about water runoff and replanting natural environments in a project- and experience-based learning program.
  %ul.photos.clearfix
    %li
      %a{:href => "http://schoolyardstewards.org/"}
        %img{:src => "/projects/schoolyard/homepage.jpg"}
      .subheader Home page
    %li
      %a{:href => "http://schoolyardstewards.org/"}
        %img{:src => "/projects/schoolyard/info.jpg"}
      .subheader Informational page

.project-summary
  %h2
    %a{:href => "http://nezumiapp.com/"} Nezumi app
  .subheader iPhone design, Web design
  %p.description
    Nezumi is an iPhone app built to allow for the remote management of your Heroku web servers. I did the iPhone app branding as well as the information site design.
  %ul.photos.clearfix
    %li
      %a{:href => "http://nezumiapp.com/"}
        %img{:src => "/projects/nezumi/branding.jpg"}
      .subheader iPhone app branding
    %li
      %a{:href => "http://nezumiapp.com/"}
        %img{:src => "/projects/nezumi/site.jpg"}
      .subheader Informational site
      
.project-summary
  %h2
    %a{:href => "http://appmark.it/"} Appmarkit
  .subheader Web design
  %p.description
    Appmark.it provides an amazingly simple way for iPhone developers to freely create sexy informational/marketing sites for their apps by pulling text & screenshots from the iTunes API.
  %ul.photos.clearfix
    %li
      %a{:href => "http://appmark.it/"}
        %img{:src => "/projects/appmarkit/homepage.jpg"}
      .subheader Homepage
    %li
      %a{:href => "http://appmark.it/"}
        %img{:src => "/projects/appmarkit/admin.jpg"}
      .subheader Interactive theme chooser