%header.quote
  %h1
    Fast Customer
  %span.subtitle
    Don't wait on hold, let Fast Customer do it for you.
    %a.arrowed.link-out{:href => "http://fastcustomer.com"} visit site

%section.project-description
  %p
    The guys at
    %a{:href => "http://fastcustomer.com"} Fastcustomer
    had a great idea to let technology navigate company hold lines and touch-tone menus for you.
    Their app calls you back once they have an operator on the line so you don't have to wait.
  %p
    They asked us to build them an easy-to-use iPhone app with the least number of steps.
  %p
    We built their iPhone app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/fastcustomer/large.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio