%nav
  %a.prev{href: "/portfolio/openbrews"} &larr;
  %a.home{href: "/"} home

.container
  
  %header
    %h1 Fight Klub
    %span An online community for the trading card game Fight Klub

  %section
    %p
      %a{href: "http://decipher.com"} Decipher
      are the geniuses behind trading card games for Star Trek and Lord of the Rings
      and the long-running How To Host A Murder role-playing game.
    %p
      They asked us to help build full-fledged online community for their newest trading card game.
      It includes an e-commerce store, blogs, voting, polls, player locator, clan groups and more.
    %p
      David and Marshall worked with them for eight months to build and help design their complex web app.
  
  %section
    %ul
      %li
        %img{:src => "/projects/fightklub/large.jpg"}