%header.quote
  %h1
    Fight Klub
  %span.subtitle
    An online community for the trading card game Fight Klub
    %a.arrowed.link-out{:href => "http://decipher.com"} visit site

%section.project-description
  %p
    Decipher are the geniuses behind trading card games for Star Trek and Lord of the Rings
    and the long-running How To Host A Murder role-playing game.
  %p
    They asked us to help build full-fledged online community for their newest trading card game.
    It includes an e-commerce store, blogs, voting, polls, player locator, clan groups and more.
  %p
    We worked with them for eight months to build and help design their complex web app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/fightklub/large.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio