%nav
  %a.prev{href: "/portfolio/momeant"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/fastcustomer"} &rarr;

.container
  
  %header
    %h1 Giftcard Zen
    %span Sell your gift cards for cash

  %section
    %p
      %a{:href => "http://giftcardzen.com"} GiftcardZen
      %span will give you cash for your gift cards as well as sell you new gift cards at a discount.
    %p David did the design and complete front- and back-end development, including an e-commerce platform.
  
  %section
    %ul
      %li
        %img{:src => "/projects/giftcardzen/large.jpg"}
      %li
        %img{:src => "/projects/giftcardzen/large2.jpg"}
      %li
        %img{:src => "/projects/giftcardzen/large3.jpg"}