%header.quote
  %h1
    %span We design and build things
    %span.highlighted.tooltipped{:title => "v. to gladly shove in another's face"} you’re proud to show off.

%section.us.clearfix
  %ul
    %li
      %h1 David Browning
      %h3
        %span Creative Director &#149
        %a{:href => "http://djbrowning.org"} visit site
      %p
        As the designer behind Two Guys, David loves applying
        both sides of his brain to every problem. He enjoys
        exercising creativity in order to create stunning visual
        and technical solutions.
    %li
      %h1 Marshall Huss
      %h3
        %span Technical Director &#149
        %a{:href => "http://mwhuss.com"} visit site
      %p
        Marshall has been an excellent web developer for years
        and has compounded that with a knowledge of Apple's
        iOS. He excels at creating simple, intuitive iPhone apps
        to pair with solid web apps.

%section.work
  %h1
    A preview of our portfolio
    %a.arrowed{:href => "/portfolio"} view all
  %ul.clearfix
    %li.fastcustomer
      %h3
        Fast Customer &#149
        %a{:href => "/portfolio/fastcustomer"} read more
        %a{:href => "/portfolio/fastcustomer"}
          %span.color
          %span.bw
    %li.remotejobs
      %h3
        Remote Jobs &#149
        %a{:href => "/portfolio/remotejobs"} read more
        %a{:href => "/portfolio/remotejobs"}
          %span.color
          %span.bw
    %li.maxrvu
      %h3
        MaxRVU &#149
        %a{:href => "/portfolio/maxrvu"} read more
        %a{:href => "/portfolio/maxrvu"}
          %span.color
          %span.bw