%header.quote
  %h1
    %span We design and build things
    %span.highlighted.tooltipped{:title => "v. to gladly shove in another's face"} you’re proud to show off.

%section.us.clearfix
  %ul
    %li
      %h1 David Browning
      %h3
        %span Design &amp; Web/Ruby Development
      %p
        As the designer and web developer behind Two Guys, David loves applying
        both sides of his brain to every problem. He enjoys
        exercising creativity on both the front and back end.
    %li
      %h1 Marshall Huss
      %h3
        %span iOS
      %p
        Marshall has been honing his iOS skills for years
        and pairs that with an excellent knowledge of web
        apps and APIs. He excels at creating simple, intuitive
        mobile apps to pair with solid web apps.

%section.work
  %h1
    A preview of our portfolio
    %a.arrowed{:href => "/portfolio"} view all
  %ul.clearfix
    %li.fastcustomer
      %h3
        Fast Customer &#149
        %a{:href => "/portfolio/fastcustomer"} read more
        %a{:href => "/portfolio/fastcustomer"}
          %span.color
          %span.bw
    %li.remotejobs
      %h3
        Remote Jobs &#149
        %a{:href => "/portfolio/remotejobs"} read more
        %a{:href => "/portfolio/remotejobs"}
          %span.color
          %span.bw
    %li.maxrvu
      %h3
        MaxRVU &#149
        %a{:href => "/portfolio/maxrvu"} read more
        %a{:href => "/portfolio/maxrvu"}
          %span.color
          %span.bw