%header
  .container
    %img#logo{src: "/images/logo.png"}
    %p.description We make lovely web & mobile products.
    %ul
      %li
        %h2 David Browning
        %h3
          %span Design &amp; Web
        %p
          As the designer and web developer behind Two Guys, David loves applying
          both sides of his brain to every problem. He enjoys
          taking products from vision all the way to reality.
        %p djbrowning [at] twoguys [dot] us
      %li
        %h2 Marshall Huss
        %h3
          %span iOS
        %p
          Marshall has been honing his iOS skills for years
          and pairs that with an excellent knowledge of web
          apps and APIs. He excels at creating simple, intuitive
          mobile apps to pair with solid web apps.
        %p mwhuss [at] twoguys [dot] us
    .clear

%section.work.container
  %ul
    %li
      %a{href: "/portfolio/seesaw"}
        %img{src: "/projects/seesaw/icon.png"}
        %h3 SeeSaw
        %p Design, Development, Mobile
    %li
      %a{href: "/portfolio/momeant"}
        %img{src: "/projects/momeant/icon.png"}
        %h3 Momeant
        %p Design, Development
    %li
      %a{href: "/portfolio/giftcardzen"}
        %img{src: "/projects/giftcardzen/icon.png"}
        %h3 Giftcard Zen
        %p Design, Development
    %li
      %a{href: "/portfolio/fastcustomer"}
        %img{src: "/projects/fastcustomer/icon.png"}
        %h3 Fast Customer
        %p Design, Development, Mobile
    %li
      %a{href: "/portfolio/remotejobs"}
        %img{src: "/projects/remotejobs/icon.png"}
        %h3 Remote Jobs
        %p Design, Development
    %li
      %a{href: "/portfolio/maxrvu"}
        %img{src: "/projects/maxrvu/icon.png"}
        %h3 Max RVU
        %p Design, Development, Mobile
    %li
      %a{href: "/portfolio/crashbucket"}
        %img{src: "/projects/crashbucket/icon.png"}
        %h3 Crash Bucket
        %p Design, Development, Mobile
    %li
      %a{href: "/portfolio/appmarkit"}
        %img{src: "/projects/appmarkit/icon.png"}
        %h3 App Markit
        %p Design, Development
    %li
      %a{href: "/portfolio/nezumi"}
        %img{src: "/projects/nezumi/icon.png"}
        %h3 Nezumi
        %p Design, Development, Mobile
    %li
      %a{href: "/portfolio/publishur"}
        %img{src: "/projects/publishur/icon.png"}
        %h3 Publishur
        %p Design, Development
    %li
      %a{href: "/portfolio/wecreateideas"}
        %img{src: "/projects/wecreateideas/icon.png"}
        %h3 We Create Ideas
        %p Design, Development
    %li
      %a{href: "/portfolio/schoolyardstewards"}
        %img{src: "/projects/schoolyard/icon.png"}
        %h3 Schoolyard Stewards
        %p Design, Development
    %li
      %a{href: "/portfolio/openbrews"}
        %img{src: "/projects/openbrews/icon.png"}
        %h3 Open Brews
        %p Design, Development
    %li
      %a{href: "/portfolio/fightklub"}
        %img{src: "/projects/fightklub/icon.png"}
        %h3 Fight Klub
        %p Development