%header.quote
  %h1
    MaxRVU
  %span.subtitle
    A web + iPhone combo for doctors.
    %a.arrowed.link-out{:href => "http://maxrvu.com"} visit site

%section.project-description
  %p
    We built a full-fledged web app and iPhone app combo for a startup looking to provide a new cloud-based
    service for doctors. MaxRVU allows doctors to keep track of their patients, sessions, and all of the
    details in between.
  %p
    We designed and built the company's teaser page, the MaxRVU Ruby on Rails web app and the MaxRVU iPhone app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/maxrvu/large.jpg"}
    %li
      %img{:src => "/projects/maxrvu/large2.jpg"}
    %li
      %img{:src => "/projects/maxrvu/large3.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio