%nav
  %a.prev{href: "/portfolio/remotejobs"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/crashbucket"} &rarr;

.container
  
  %header
    %h1 MaxRVU
    %span A web + mobile combo for doctors.

  %section
    %p
      We built a full-fledged web app and iPhone app combo for a startup looking to provide a new cloud-based
      service for doctors. MaxRVU allows doctors to keep track of their patients, sessions, and all of the
      details in between.
    %p 
      David did the design and built the web app in Ruby on Rails. Marshall built the iOS application.
  
  %section
    %ul
      %li
        %img{:src => "/projects/maxrvu/large.jpg"}
      %li
        %img{:src => "/projects/maxrvu/large2.jpg"}
      %li
        %img{:src => "/projects/maxrvu/large3.jpg"}