%nav
  %a.prev{href: "/portfolio/seesaw"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/giftcardzen"} &rarr;

.container
  
  %header
    %h1 Momeant
    %span Helping content creators turn an audience into supporters

  %section
    %p
      %a{:href => "http://momeant.com"} Momeant
      %span is striving to build a new Creative Economy on the web, where anyone can get paid for creating content.
    %p David is a co-founder of Momeant, doing much of the design and all of the development.
    %p As you'll notice in the images below, Momeant has gone through many iterations based on user testing, analytics, and feedback.
  
  %section
    %ul
      %li
        %img{:src => "/projects/momeant/landing.jpg"}
      %li
        %img{:src => "/projects/momeant/modal.png"}
      %li
        %img{:src => "/projects/momeant/discovery.jpg"}
      %li
        %img{:src => "/projects/momeant/guitar.jpg"}
      %li
        %img{:src => "/projects/momeant/analytics.jpg"}
      %li
        %img{:src => "/projects/momeant/activity.jpg"}