%header.quote
  %h1
    Nezumi
  %span.subtitle
    An iPhone app to manage your Heroku apps.
    %a.arrowed.link-out{:href => "http://nezumiapp.com"} visit site

%section.project-description
  %p
    We love using
    %a{:href => "http://heroku.com"} Heroku
    to host all of our Ruby web apps. After a while we started wishing we could check on
    and manage our apps while on the go, so we built the Nezumi iPhone app to do just that.
  %p
    You can do things like add collaborators, turn dynos &amp; workers up and down, execute
    rake &amp; console tasks, restart your apps and more!
  %p
    We designed and built the iPhone app and the web splash screen.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/nezumi/large.jpg"}
    %li
      %img{:src => "/projects/nezumi/large2.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio