%nav
  %a.prev{href: "/portfolio/appmarkit"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/publishur"} &rarr;

.container
  
  %header
    %h1 Nezumi
    %span An iPhone app to manage your Heroku apps.

  %section
    %p
      We love using
      %a{:href => "http://heroku.com"} Heroku
      to host all of our Ruby web apps. After a while we started wishing we could check on
      and manage our apps while on the go, so we built the Nezumi iPhone app to do just that.
    %p
      You can do things like add collaborators, turn dynos &amp; workers up and down, execute
      rake &amp; console tasks, restart your apps and more!
    %p
      Marshall designed and built the iPhone app, available in the
      %a{href: "http://nezumiapp.com/appstore"} App Store.
      David did the branding and designed the
      %a{href: "http://nezumiapp.com"} web app.
  
  %section
    %ul
      %li
        %img{:src => "/projects/nezumi/web.jpg"}
      %li
        %img{:src => "/projects/nezumi/large.jpg"}