%nav
  %a.prev{href: "/portfolio/schoolyardstewards"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/fightklub"} &rarr;

.container
  
  %header
    %h1 OpenBrews
    %span A web community for beer brewers

  %section
    %p
      As beer brewers ourselves, we wanted to create an online community for brewers to share
      recipes and updates on the batches they were brewing. They can find nearby brewers, stores
      and share stories about the beers they are creating.
    %p
      We designed and built the web app.
  
  %section
    %ul
      %li
        %img{:src => "/projects/openbrews/large.jpg"}