%header.quote
  %h1
    Publishur
  %span.subtitle
    Send group messages, but let each person decide how they want to receive them
    %a.arrowed.link-out{:href => "http://publishur.com"} visit site

%section.project-description
  %p
    Publishur allows you to send messages within private groups of friends, family, coworkers, etc. and
    allows you to choose how you receive those messages. You can choose between email, chat, Twitter, and
    more.
  %p
    We designed and built the Ruby on Rails web app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/publishur/large.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio