%nav
  %a.prev{href: "/portfolio/wecreateideas"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/openbrews"} &rarr;

.container
  
  %header
    %h1 Schoolyard Stewards
    %span A DC-based non-profit teaching kids about the environment

  %section
    %p
      The folks at Schoolyard Stewards go around to various DC schools to teach young kids
      about the environment and help them plant and grow sustainable gardens at their school.
    %p
      David designed and built the
      %a{href: "http://schoolyardstewards.org"} web site.
  
  %section
    %ul
      %li
        %img{:src => "/projects/schoolyard/large.jpg"}