%header.quote
  %h1
    Schoolyard Stewards
  %span.subtitle
    A DC-based non-profit teaching kids about the environment
    %a.arrowed.link-out{:href => "http://schoolyardstewards.org"} visit site

%section.project-description
  %p
    The folks at Schoolyard Stewards go around to various DC schools and teach young kids
    about the environment and help them plant and grow sustainable gardens at their school.
  %p
    They asked us to design and build an informational site describing what they do.
  %p
    We designed and built their web app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/schoolyard/large.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio