%nav
  %a.prev{href: "/"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/momeant"} &rarr;

.container
  
  %header
    %h1 SeeSaw
    %span A fast, fun, and spontaneous way to sell things with your phone.

  %section
    %p SeeSaw's goal is to make selling things fun again. By providing incredibly easy-to-use mobile and web applications, users can easily buy and sell used goods with folks in their home town.
    %p David did the mobile design, web design, and web development. Marshall did iOS development.
  
  %section
    %ul
      %li
        %img{:src => "/projects/seesaw/about.jpg"}
      %li
        %img{:src => "/projects/seesaw/listings.jpg"}
      %li
        %img{:src => "/projects/seesaw/listing.jpg"}
      %li
        %img{:src => "/projects/seesaw/messaging.jpg"}
      %li
        %img{:src => "/projects/seesaw/mobile-profile.jpg"}
      %li
        %img{:src => "/projects/seesaw/sketches.jpg"}