$background_color: #fff;
$text_color: #252525;
$link_color: #d71f1f;

html, body {
  font-family: "rooney-web-1", "rooney-web-2", Georgia, serif;
  font-size: 1em;
  font-weight: 100;
  color: $text_color;
  background: $background_color;
}

h1, h2, h3 { font-weight: 100; }
h1 { font-size: 1.6em; }
h2 {
  font-size: 1.2em;
  font-weight: bold;
}
h3 {
  font-size: 1em;
  font-style: italic;
}

a, a:visited {
  color: $link_color;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a.back {
  display: inline-block;
  margin: 3em 0;
}

nav {
  height: 1.4em;
  padding: 0.75em 0;
  background: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  a.prev, a.next {
    background: $link_color;
    color: #fff;
    padding: 2px 6px 4px;
    line-height: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  a.prev { float: left; margin-left: 1em; }
  a.home {
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  a.next { float: right; margin-right: 1em; }
}

body#home {
  header {
    padding: 80px 0;
    #logo {
      display: block;
      width: 60px;
      height: 64px;
      margin: 0 auto 80px;
    }
    p.description {
      font-size: 1.5em;
      margin: 0 0 80px;
      text-align: center;
      padding: 0 10%;
      font-style: italic;
    }
    ul { padding: 0 16%; margin: 0 auto; }
    li {
      width: 46%;
      float: left;
      margin: 0 2%;
      p { font-size: 0.9em; }
      p:last-child {
        font-style: italic;
        color: #999;
      }
    }
    .clear { clear: both; }
    a#books {
      display: block;
      width: 9em;
      margin: 3em auto 1em;
      padding: 0.5em;
      background: $link_color;
      color: #fff;
      font-size: 1.3em;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .work {
    text-align: center;
    li {
      width: 230px;
      display: inline-block;
      margin: 0 5% 2em;
      a {
        .thumbnail, img { width: 230px; height: 167px; }
        .thumbnail {
          overflow: hidden;
          position: relative;
        }
        .peeker {
          width: 50px;
          height: 194px;
          padding-top: 140px;
          position: absolute;
          top: 0;
          left: 0;
          background: #fff;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -moz-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -o-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -ms-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg);
          transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(0deg) scale(1, 1) skewX(0deg) skewY(0deg);
        }
        .arrow {
          position: absolute;
          right: 5px;
          bottom: 5px;
          opacity: 0;
          transition: opacity 0.3s ease;
          transition-delay: 0.15s;
        }
        h3 {
          font-size: 1.3em;
          margin: 0;
          padding: 0.6em 0 0.2em;
        }
        p {
          color: $text_color;
          font-size: 0.9em;
          margin: 0;
        }
      }
      a:hover {
        .peeker {
          -webkit-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(13deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -moz-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(13deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -o-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(13deg) scale(1, 1) skewX(0deg) skewY(0deg);
          -ms-transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(13deg) scale(1, 1) skewX(0deg) skewY(0deg);
          transform: translate3d(230px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) rotate(13deg) scale(1, 1) skewX(0deg) skewY(0deg);
        }
        .arrow { opacity: 1.0; }
        h3 { text-decoration: underline; }
      }
    }
  }
}

body#portfolio {
  margin-top: 5.9em;
  header {
    width: 50%;
    margin: 0 auto 3em;
    text-align: center;
    span { color: #999; font-style: italic; }
  }
  section {
    margin-bottom: 3em;
    p { width: 50%; margin: 0 auto 1em; }
    ul {
      width: 80%;
      margin: 0 auto;
      li { margin-bottom: 3em; }
      img { width: 100%; border: 2px solid #f0f0f0; }
    }
  }
}

body#books {
  margin-top: 5.9em;
  .container { max-width: 800px; }
  img#cover { width: 100%; margin-bottom: 3em; }
  #copy { max-width: 600px; margin: 0 auto; }
  h1 { text-align: center; margin-bottom: 2em; }
  p { font-size: 1.1em; }
  h2 { margin: 2em 0; font-size: 1.5em; line-height: 1.5em; }
  #actions { margin-bottom: 3em; text-align: center; }
  a#subscribe {
    display: block;
    width: 19em;
    margin: 3em auto 0.75em;
    padding: 0.5em;
    background: $link_color;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #table-of-contents {
    h1 { padding-bottom: 1em; border-bottom: 1px solid #eee; }
    h1 span { text-transform: uppercase; letter-spacing: 0.1em; }
    h1 em { font-size: 0.8em; }
    h3 { font-size: 1.3em; margin-bottom: 1em; }
    ol { margin-bottom: 1.5em; }
    ol li { margin-bottom: 0.3em; list-style-type: decimal; }
  }
}
    

@media screen and (max-width:480px), (max-device-width:480px) {
  body { margin: 0 2%; }
}

@media screen and (max-width:600px), (max-device-width:480px) {
  body#home header {
    ul { padding: 0; }
    li {
      width: 70%;
      float: none;
      margin: 0 auto 2em;
    }
  }
  body#portfolio {
    header, section p { width: 80%; }
  }
}