$background_color: #fff
$text_color: #252525
$link_color: #d71f1f

html, body
  font-family: "rooney-web-1", "rooney-web-2", Georgia, serif
  font-size: 1em
  font-weight: 100
  color: $text_color
  background: $background_color

h1, h2, h3
  font-weight: 100
h1
  font-size: 1.6em
h2
  font-size: 1.2em
  font-weight: bold
h3
  font-size: 1
  font-style: italic

a, a:visited
  color: $link_color
  text-decoration: none

.container
  max-width: 1000px
  margin: 0 auto

a.back
  display: inline-block
  margin: 3em 0

body#home
  header
    padding: 80px 0
    #logo
      display: block
      width: 60px
      height: 64px
      margin: 0 auto 80px
    p.description
      font-size: 1.5em
      margin: 0 0 80px
      text-align: center
      padding: 0 10%
      font-style: italic
    ul
      padding: 0 16%
      margin: 0 auto
    li
      width: 46%
      float: left
      margin: 0 2%
      p
        font-size: 0.9em
    .clear
      clear: both
  .work
    text-align: center
    li
      width: 230px
      display: inline-block
      margin: 0 5% 2em
      a:hover h3
        text-decoration: underline
      h3
        font-size: 1.3em
        margin: 0
        padding: 0.6em 0 0.2em
      p
        color: $text_color
        font-size: 0.9em
        margin: 0

body#portfolio
  margin-top: 5.9em
  nav
    height: 1.4em
    padding: 0.75em 0
    background: #f0f0f0
    position: absolute
    top: 0
    left: 0
    width: 100%
    a.prev
      float: left
      margin-left: 1em
    a.home
      position: absolute
      left: 50%
      margin-left: -20px
    a.next
      float: right
      margin-right: 1em
  header
    width: 50%
    margin: 0 auto 3em
    text-align: center
    span
      color: #999
      font-style: italic
  section
    margin-bottom: 3em
    p
      width: 50%
      margin: 0 auto 1em
    ul
      width: 80%
      margin: 0 auto
      li
        margin-bottom: 3em
      img
        width: 100%
        border: 2px solid #f0f0f0
    

@media screen and (max-width:480px), (max-device-width:480px)
  body
    margin: 0 2%

@media screen and (max-width:600px), (max-device-width:480px)
  body#home
    header
      ul
        padding: 0
      li
        width: 70%
        float: none
        margin: 0 auto 2em
  body#portfolio
    header, section p
      width: 80%