%header.quote
  %h1
    We Create Ideas
  %span.subtitle
    A game development consultancy
    %a.arrowed.link-out{:href => "http://wecreateideas.net"} visit site

%section.project-description
  %p
    The folks at We Create Ideas asked us to design and build an information site for
    them to describe the type of work they do for clients.
  %p
    We designed and built the web app.
  
  %ul.screenshots
    %li
      %img{:src => "/projects/wecreateideas/large.jpg"}
  
%a.arrowed-back.align.space-that-thing{:href => "/portfolio"} back to portfolio