%nav
  %a.prev{href: "/portfolio/publishur"} &larr;
  %a.home{href: "/"} home
  %a.next{href: "/portfolio/schoolyardstewards"} &rarr;

.container
  
  %header
    %h1 We Create Ideas
    %span A game development consultancy

  %section
    %p
      The folks at We Create Ideas asked us to design and build an information site for
      them to describe the type of work they do for clients.
    %p
      David designed and built the web app.
  
  %section
    %ul
      %li
        %img{:src => "/projects/wecreateideas/large.jpg"}